In [78]:
import pandas as pd 
import numpy as np

In [79]:
df = pd.read_excel('HW1_Question2_dataset.xlsx')
df = df[['week','amount']]
df.index = df['week']
df.drop('week',axis = 1, inplace=True)
df = df.groupby(level=0).sum()
df.head()

      amount
week
1      509.6
2      610.7
3      647.1
4      419.6
5      312.7

In [80]:
df_52 = df[df.index<=52]

df_52.head()

      amount
week
1      509.6
2      610.7
3      647.1
4      419.6
5      312.7

In [81]:
std  = np.std(df_52['amount'])
mean = df_52['amount'].mean()
print('mean: %0.2f'%mean)
print('std: %0.2f'%std)

mean: 375.48
std: 253.21

In [82]:
df_test = df
df_test.head()

      amount
week
1      509.6
2      610.7
3      647.1
4      419.6
5      312.7

In [83]:
above_3_std =  mean + 3 * std
below_3_std =  mean - 3 * std
above_2_std =  mean + 2 * std
below_2_std =  mean - 2 * std
above_1_std =  mean + 1 * std
below_1_std =  mean - 1 * std
print('above 3 std: %0.2f'%above_3_std)
print('above 2 std: %0.2f'%above_2_std)
print('above 1 std: %0.2f'%above_1_std)
print('below 3 std: %0.2f'%below_3_std)
print('below 2 std: %0.2f'%below_2_std)
print('below 1 std: %0.2f'%below_1_std)

above 3 std: 1135.09
above 2 std: 881.89
above 1 std: 628.68
below 3 std: -384.14
below 2 std: -130.94
below 1 std: 122.27

In [84]:
# Rule 1 
df_test['Rule-1'] = (df_test['amount'] > above_3_std) | (df_test['amount'] < below_3_std) 
df_test.head()

      amount  Rule-1
week
1      509.6   False
2      610.7   False
3      647.1   False
4      419.6   False
5      312.7   False

In [85]:
# Rule 2 
df_test['shif-1'] = np.multiply(np.array(df_test['amount'] > mean),1)
df_test['shif-2'] = np.multiply(np.array(df_test.shift(1)['amount'] > mean),1)
df_test['shif-3'] = np.multiply(np.array(df_test.shift(2)['amount'] > mean),1)
df_test['shif-4'] = np.multiply(np.array(df_test.shift(3)['amount'] > mean),1)
df_test['shif-5'] = np.multiply(np.array(df_test.shift(4)['amount'] > mean),1)
df_test['shif-6'] = np.multiply(np.array(df_test.shift(5)['amount'] > mean),1)
df_test['shif-7'] = np.multiply(np.array(df_test.shift(6)['amount'] > mean),1)
df_test['shif-8'] = np.multiply(np.array(df_test.shift(7)['amount'] > mean),1)
df_test['shif-9'] = np.multiply(np.array(df_test.shift(8)['amount'] > mean),1)
# df_test['shif-0..8'] "1" means amount is above the mean, "0" means amount below the mean

df_test['Rule-2'] = (df_test[['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8','shif-9']]\
                    .sum(axis=1) == 9) | (df_test[['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6'\
                                                 ,'shif-7','shif-8','shif-9']].sum(axis=1) == 0)


df_test.drop(['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8','shif-9'],axis=1,inplace=True)

In [86]:
# Rule 3

df_test['shif-1'] = np.multiply(np.array(df_test['amount'] > df_test.shift(1)['amount']),1)
df_test['shif-2'] = np.multiply(np.array(df_test.shift(1)['amount'] > df_test.shift(2)['amount']),1)
df_test['shif-3'] = np.multiply(np.array(df_test.shift(2)['amount'] > df_test.shift(3)['amount']),1)
df_test['shif-4'] = np.multiply(np.array(df_test.shift(3)['amount'] > df_test.shift(4)['amount']),1)
df_test['shif-5'] = np.multiply(np.array(df_test.shift(4)['amount'] > df_test.shift(5)['amount']),1)
df_test['shif-6'] = np.multiply(np.array(df_test.shift(5)['amount'] > df_test.shift(6)['amount']),1)

df_test['Rule-3'] = (df_test[['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6']].sum(axis=1) == 6) \
                    | (df_test[['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6']].sum(axis=1) == 0)


df_test.drop(['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6'],axis=1,inplace=True)

In [87]:
# Rule 4

df_test['shif-1'] = np.multiply(np.array(df_test['amount'] > df_test.shift(1)['amount'])            ,1)
df_test['shif-2'] = np.multiply(np.array(df_test.shift(1)['amount'] > df_test.shift(2)['amount'])   ,10)
df_test['shif-3'] = np.multiply(np.array(df_test.shift(2)['amount'] > df_test.shift(3)['amount'])   ,100)
df_test['shif-4'] = np.multiply(np.array(df_test.shift(3)['amount'] > df_test.shift(4)['amount'])   ,1000)
df_test['shif-5'] = np.multiply(np.array(df_test.shift(4)['amount'] > df_test.shift(5)['amount'])   ,10000)
df_test['shif-6'] = np.multiply(np.array(df_test.shift(5)['amount'] > df_test.shift(6)['amount'])   ,100000)
df_test['shif-7'] = np.multiply(np.array(df_test.shift(6)['amount'] > df_test.shift(7)['amount'])   ,1000000)
df_test['shif-8'] = np.multiply(np.array(df_test.shift(7)['amount'] > df_test.shift(8)['amount'])   ,10000000)
df_test['shif-9'] = np.multiply(np.array(df_test.shift(8)['amount'] > df_test.shift(9)['amount'])   ,100000000)
df_test['shif-10'] = np.multiply(np.array(df_test.shift(9)['amount'] > df_test.shift(10)['amount']) ,1000000000)
df_test['shif-11'] = np.multiply(np.array(df_test.shift(10)['amount'] > df_test.shift(11)['amount']),10000000000)
df_test['shif-12'] = np.multiply(np.array(df_test.shift(11)['amount'] > df_test.shift(12)['amount']),100000000000)
df_test['shif-13'] = np.multiply(np.array(df_test.shift(12)['amount'] > df_test.shift(13)['amount']),1000000000000)
df_test['shif-14'] = np.multiply(np.array(df_test.shift(13)['amount'] > df_test.shift(14)['amount']),10000000000000)

df_test['Rule-4'] = (df_test[['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8','shif-9',\
                              'shif-10','shif-11','shif-12','shif-13','shif-14']].sum(axis=1) ==   1010101010101) \
                    | (df_test[['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8',\
                                'shif-10','shif-11','shif-12','shif-13','shif-14']].sum(axis=1) == 101010101010)



df_test.drop(['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8','shif-9',\
              'shif-10','shif-11','shif-12','shif-13','shif-14'],axis=1,inplace=True)

In [88]:
# Rule 5

df_test['b-shif-1'] = np.multiply(np.array(df_test['amount'] < below_2_std)            ,1)
df_test['b-shif-2'] = np.multiply(np.array(df_test.shift(1)['amount'] < below_2_std)   ,1)
df_test['b-shif-3'] = np.multiply(np.array(df_test.shift(2)['amount'] < below_2_std)   ,1)

df_test['a-shif-1'] = np.multiply(np.array(df_test['amount'] > above_2_std)            ,1)
df_test['a-shif-2'] = np.multiply(np.array(df_test.shift(1)['amount'] > above_2_std)   ,1)
df_test['a-shif-3'] = np.multiply(np.array(df_test.shift(2)['amount'] > above_2_std)   ,1)

df_test['Rule-5'] =   (df_test[['b-shif-1','b-shif-2','b-shif-3']].sum(axis=1) >= 2) \
                    | (df_test[['a-shif-1','a-shif-2','a-shif-3']].sum(axis=1) >= 2)



df_test.drop(['b-shif-1','b-shif-2','b-shif-3',\
              'a-shif-1','a-shif-2','a-shif-3'],axis=1,inplace=True)

In [89]:
# Rule 6

df_test['b-shif-1'] = np.multiply(np.array(df_test['amount'] < below_1_std)            ,1)
df_test['b-shif-2'] = np.multiply(np.array(df_test.shift(1)['amount'] < below_1_std)   ,1)
df_test['b-shif-3'] = np.multiply(np.array(df_test.shift(2)['amount'] < below_1_std)   ,1)
df_test['b-shif-4'] = np.multiply(np.array(df_test.shift(3)['amount'] < below_1_std)   ,1)
df_test['b-shif-5'] = np.multiply(np.array(df_test.shift(4)['amount'] < below_1_std)   ,1)

df_test['a-shif-1'] = np.multiply(np.array(df_test['amount'] > above_1_std)            ,1)
df_test['a-shif-2'] = np.multiply(np.array(df_test.shift(1)['amount'] > above_1_std)   ,1)
df_test['a-shif-3'] = np.multiply(np.array(df_test.shift(2)['amount'] > above_1_std)   ,1)
df_test['a-shif-4'] = np.multiply(np.array(df_test.shift(3)['amount'] > above_1_std)   ,1)
df_test['a-shif-5'] = np.multiply(np.array(df_test.shift(4)['amount'] > above_1_std)   ,1)

df_test['Rule-6'] =   (df_test[['b-shif-1','b-shif-2','b-shif-3','b-shif-4','b-shif-5']].sum(axis=1) >= 4) \
                    | (df_test[['a-shif-1','a-shif-2','a-shif-3','a-shif-4','a-shif-5']].sum(axis=1) >= 4)


df_test.drop(['b-shif-1','b-shif-2','b-shif-3','b-shif-4','b-shif-5',\
              'a-shif-1','a-shif-2','a-shif-3','a-shif-4','a-shif-5'],axis=1,inplace=True)

In [90]:
# Rule 7

df_test['shif-1'] = (np.multiply((np.array(df_test['amount'] < above_1_std)) & \
                                 (np.array(df_test['amount'] > below_1_std)),1))

df_test['shif-2'] = (np.multiply((np.array(df_test.shift(1)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(1)['amount'] > below_1_std)),1))

df_test['shif-3'] = (np.multiply((np.array(df_test.shift(2)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(2)['amount'] > below_1_std)),1))

df_test['shif-4'] = (np.multiply((np.array(df_test.shift(3)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(3)['amount'] > below_1_std)),1))

df_test['shif-5'] = (np.multiply((np.array(df_test.shift(4)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(4)['amount'] > below_1_std)),1))
                     
df_test['shif-6'] = (np.multiply((np.array(df_test.shift(5)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(5)['amount'] > below_1_std)),1))

df_test['shif-7'] = (np.multiply((np.array(df_test.shift(6)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(6)['amount'] > below_1_std)),1))

df_test['shif-8'] = (np.multiply((np.array(df_test.shift(7)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(7)['amount'] > below_1_std)),1))

df_test['shif-9'] = (np.multiply((np.array(df_test.shift(8)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(8)['amount'] > below_1_std)),1))

df_test['shif-10'] = (np.multiply((np.array(df_test.shift(9)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(9)['amount'] > below_1_std)),1))

df_test['shif-11'] = (np.multiply((np.array(df_test.shift(10)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(10)['amount'] > below_1_std)),1))

df_test['shif-12'] = (np.multiply((np.array(df_test.shift(11)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(11)['amount'] > below_1_std)),1))

df_test['shif-13'] = (np.multiply((np.array(df_test.shift(12)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(12)['amount'] > below_1_std)),1))

df_test['shif-14'] = (np.multiply((np.array(df_test.shift(13)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(13)['amount'] > below_1_std)),1))

df_test['shif-15'] = (np.multiply((np.array(df_test.shift(14)['amount'] < above_1_std)) & \
                        (np.array(df_test.shift(14)['amount'] > below_1_std)),1))



df_test['Rule-7'] = (df_test[['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8','shif-9',\
                              'shif-10','shif-11','shif-12','shif-13','shif-14','shif-15']]
                    .sum(axis=1) == 15) 
df_test.drop(['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8','shif-9',\
              'shif-10','shif-11','shif-12','shif-13','shif-14','shif-15'],axis=1,inplace=True)

In [91]:
#Rule 8

df_test['shif-1'] = (np.multiply((np.array(df_test['amount'] > above_1_std)) | \
                        (np.array(df_test['amount'] < below_1_std)),1))

df_test['shif-2'] = (np.multiply((np.array(df_test.shift(1)['amount'] > above_1_std)) | \
                        (np.array(df_test.shift(1)['amount'] < below_1_std)),1))

df_test['shif-3'] = (np.multiply((np.array(df_test.shift(2)['amount'] > above_1_std)) | \
                        (np.array(df_test.shift(2)['amount'] < below_1_std)),1))

df_test['shif-4'] = (np.multiply((np.array(df_test.shift(3)['amount'] > above_1_std)) | \
                        (np.array(df_test.shift(3)['amount'] < below_1_std)),1))

df_test['shif-5'] = (np.multiply((np.array(df_test.shift(4)['amount'] > above_1_std)) | \
                        (np.array(df_test.shift(4)['amount'] < below_1_std)),1))

df_test['shif-6'] = (np.multiply((np.array(df_test.shift(5)['amount'] > above_1_std)) | \
                        (np.array(df_test.shift(5)['amount'] < below_1_std)),1))

df_test['shif-7'] = (np.multiply((np.array(df_test.shift(6)['amount'] > above_1_std)) | \
                        (np.array(df_test.shift(6)['amount'] < below_1_std)),1))

df_test['shif-8'] = (np.multiply((np.array(df_test.shift(7)['amount'] > above_1_std)) | \
                        (np.array(df_test.shift(7)['amount'] < below_1_std)),1))

df_test['Checker'] = (np.multiply((
                        (np.array(df_test['amount'] > above_1_std)) & \
                        (np.array(df_test.shift(1)['amount'] > above_1_std)) & \
                        (np.array(df_test.shift(2)['amount'] > above_1_std)) & \
                        (np.array(df_test.shift(3)['amount'] > above_1_std)) & \
                        (np.array(df_test.shift(4)['amount'] > above_1_std)) & \
                        (np.array(df_test.shift(5)['amount'] > above_1_std)) & \
                        (np.array(df_test.shift(6)['amount'] > above_1_std)) & \
                        (np.array(df_test.shift(7)['amount'] > above_1_std)))|
                                    (
                        (np.array(df_test['amount'] < below_1_std)) & \
                        (np.array(df_test.shift(1)['amount'] < below_1_std)) & \
                        (np.array(df_test.shift(2)['amount'] < below_1_std)) & \
                        (np.array(df_test.shift(3)['amount'] < below_1_std)) & \
                        (np.array(df_test.shift(4)['amount'] < below_1_std)) & \
                        (np.array(df_test.shift(5)['amount'] < below_1_std)) & \
                        (np.array(df_test.shift(6)['amount'] < below_1_std)) & \
                        (np.array(df_test.shift(7)['amount'] < below_1_std)))
                                                                             ,1))

df_test['Rule-8'] = (df_test[['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8']]\
                    .sum(axis=1) == 8)  & \
                    (df_test[['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8','Checker']]\
                    .sum(axis=1) != 9)

df_test.drop(['shif-1','shif-2','shif-3','shif-4','shif-5','shif-6','shif-7','shif-8','Checker'],axis=1,inplace=True)

In [92]:
df_test.head()

      amount  Rule-1  Rule-2  Rule-3  Rule-4  Rule-5  Rule-6  Rule-7  Rule-8
week
1      509.6   False   False    True   False   False   False   False   False
2      610.7   False   False   False   False   False   False   False   False
3      647.1   False   False   False   False   False   False   False   False
4      419.6   False   False   False   False   False   False   False   False
5      312.7   False   False   False   False   False   False   False   False

In [93]:
df_test['WBC-Stop']=((np.multiply((np.array(df_test['Rule-1'])) | 
                                  (np.array(df_test['Rule-2'])) | 
                                  (np.array(df_test['Rule-3'])) | 
                                  (np.array(df_test['Rule-4'])) | 
                                  (np.array(df_test['Rule-5'])) | 
                                  (np.array(df_test['Rule-6'])) | 
                                  (np.array(df_test['Rule-7'])) | 
                                  (np.array(df_test['Rule-8'])),1))==1)

In [101]:
np.multiply(np.array(df_test['Rule-7']),1)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [94]:
df_test.head()

,amount,Rule-1,Rule-2,Rule-3,Rule-4,Rule-5,Rule-6,Rule-7,Rule-8,WBC-Stop
week,,,,,,,,,,
1,509.6,False,False,True,False,False,False,False,False,True
2,610.7,False,False,False,False,False,False,False,False,False
3,647.1,False,False,False,False,False,False,False,False,False
4,419.6,False,False,False,False,False,False,False,False,False
5,312.7,False,False,False,False,False,False,False,False,False

In [95]:
df_test = df_test.loc[53:,:]
df_test[df_test['WBC-Stop']==True]

,amount,Rule-1,Rule-2,Rule-3,Rule-4,Rule-5,Rule-6,Rule-7,Rule-8,WBC-Stop
week,,,,,,,,,,
53,857.7,False,False,False,False,True,True,False,False,True
54,666.2,False,False,False,False,False,True,False,False,True
55,560.1,False,False,False,False,False,True,False,False,True
57,309.0,False,False,True,False,False,False,False,False,True
58,271.5,False,False,True,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
152,285.7,False,False,False,False,False,False,True,False,True
153,435.8,False,False,False,False,False,False,True,False,True
154,282.2,False,False,False,False,False,False,True,False,True
155,437.5,False,False,False,False,False,False,True,False,True
156,354.6,False,False,False,False,False,False,True,False,True

In [96]:
df_test.to_csv('rules.csv')

In [97]:
df.head(53
       )

,amount,Rule-1,Rule-2,Rule-3,Rule-4,Rule-5,Rule-6,Rule-7,Rule-8,WBC-Stop
week,,,,,,,,,,
1,509.6,False,False,True,False,False,False,False,False,True
2,610.7,False,False,False,False,False,False,False,False,False
3,647.1,False,False,False,False,False,False,False,False,False
4,419.6,False,False,False,False,False,False,False,False,False
5,312.7,False,False,False,False,False,False,False,False,False
6,358.6,False,False,False,False,False,False,False,False,False
7,303.0,False,False,False,False,False,False,False,False,False
8,244.4,False,False,False,False,False,False,False,False,False
9,84.4,False,False,False,False,False,False,False,False,False
10,124.5,False,False,False,False,False,False,False,False,False
11,52.1,False,False,False,False,False,False,False,False,False
12,80.1,False,False,False,False,False,False,False,False,False
13,63.4,False,True,False,False,False,True,False,False,True
14,94.2,False,True,False,False,False,True,False,False,True
15,223.1,False,True,False,False,False,True,False,False,True
16,341.6,False,True,False,False,False,False,False,False,True
17,317.3,False,True,False,False,False,False,False,False,True
18,328.1,False,True,False,False,False,False,False,False,True
19,429.8,False,False,False,False,False,False,False,False,False
20,454.4,False,False,False,False,False,False,False,False,False
21,474.3,False,False,False,False,False,False,False,False,False
22,652.8,False,False,False,False,False,False,False,False,False
23,398.1,False,False,False,False,False,False,False,False,False
24,471.4,False,False,False,False,False,False,False,False,False
25,278.2,False,False,False,False,False,False,False,False,False
26,382.6,False,False,False,False,False,False,False,False,False
27,237.1,False,False,False,False,False,False,False,False,False
28,176.7,False,False,False,False,False,False,False,False,False
29,140.9,False,False,False,False,False,False,False,False,False
30,108.4,False,False,False,False,False,False,False,False,False
31,68.9,False,False,False,False,False,False,False,False,False
32,231.7,False,False,False,False,False,False,False,False,False
33,360.7,False,False,False,False,False,False,False,False,False
34,469.8,False,False,False,False,False,False,False,False,False
35,575.1,False,False,False,False,False,False,False,False,False
36,900.4,False,False,False,False,False,False,False,False,False
37,640.8,False,False,False,False,False,False,False,False,False
38,651.0,False,False,False,False,False,False,False,False,False
39,611.4,False,False,False,False,False,False,False,False,False
40,600.4,False,False,False,False,False,False,False,False,False
41,418.9,False,False,False,False,False,False,False,False,False
42,301.2,False,False,False,False,False,False,False,False,False
43,226.9,False,False,False,False,False,False,False,False,False
44,268.8,False,False,False,False,False,False,False,False,False
45,67.8,False,False,False,False,False,False,False,False,False
46,45.1,False,False,False,False,False,False,False,False,False
47,95.6,False,False,False,False,False,False,False,False,False
48,165.2,False,False,False,False,False,False,False,False,False
49,472.0,False,False,False,False,False,False,False,False,False
50,924.6,False,False,False,False,False,False,False,False,False
51,1154.2,True,False,False,False,True,False,False,False,True
52,955.0,False,False,False,False,True,False,False,False,True
53,857.7,False,False,False,False,True,True,False,False,True

In [98]:
print("1: "+str(len(df_test[df_test['Rule-1'] == True])))
print("2: "+str(len(df_test[df_test['Rule-2'] == True])))
print("3: "+str(len(df_test[df_test['Rule-3'] == True])))
print("4: "+str(len(df_test[df_test['Rule-4'] == True])))
print("5: "+str(len(df_test[df_test['Rule-5'] == True])))
print("6: "+str(len(df_test[df_test['Rule-6'] == True])))
print("7: "+str(len(df_test[df_test['Rule-7'] == True])))
print("8: "+str(len(df_test[df_test['Rule-8'] == True])))

1: 0
2: 24
3: 11
4: 0
5: 3
6: 16
7: 23
8: 0